// _mixins.scss
@use "variables" as *;

@mixin respond-to($breakpoint) {
	@if $breakpoint == mobile {
		@media (max-width: $mobile) {
			@content;
		}
	} @else if $breakpoint == tablet {
		@media (max-width: $tablet) {
			@content;
		}
	} @else if $breakpoint == desktop {
		@media (max-width: $desktop) {
			@content;
		}
	} @else {
		@media (max-width: $breakpoint) {
			@content;
		}
	}
}

@mixin block_style {
	padding: 18px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@mixin overflow_style {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@mixin overflow_style_disable {
	text-overflow: unset;
	white-space: unset;
	overflow: unset;
}

@mixin link-style {
	&:hover {
		cursor: pointer;
		opacity: 0.7;
	}
}
