@mixin block_style {
	padding: 18px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@mixin link-style {
	&:hover {
		cursor: pointer;
		opacity: 0.7;
	}
}
