@use "./mixins" as *;
@use "./variables" as *;

.header {
	background-color: #fff;
	width: 100%;
	// min-width: 1280px;
	height: calc(50px - 2 * 10px);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	// outline: 1px solid red;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// width: calc(1280px - 180px);
		width: 100%;
		max-width: 1100px;
		padding: 0 90px;
		height: 30px;
		// outline: 1px solid red;
		align-items: center;

		@include respond-to(tablet) {
			padding: 0 45px;
		}

		@include respond-to(mobile) {
			padding: 0 20px;
		}
	}

	&__logo {
		display: flex;
		flex-direction: row;
		gap: 5px;

		&-icon {
			width: 30px;
			height: 30px;
			background-image: url("/images/logoMain.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border-radius: 50%;
		}

		&-text {
			align-items: center;
			line-height: 30px;
		}
	}

	&__links {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		// width: 250px;
		gap: 30px;

		@include respond-to(tablet) {
			width: 30px;
		}
	}

	&__burger {
		display: none;
		background-image: url("/images/burgerMenuIcon.svg");
		background-size: cover;
		background-position: center;
		width: 30px;
		height: 30px;
		border: none;
		background-color: transparent;

		@include respond-to(tablet) {
			display: flex;
		}
	}

	&__link {
		@include link-style;
		display: flex;
		flex-direction: row;
		gap: 5px;
		align-items: center;
		font-size: 14px;
		text-decoration: none;
		color: #000;
		font-weight: normal;

		@include respond-to(tablet) {
			display: none;
		}

		&__link_active {
			font-weight: bold;
		}

		&-icon {
			width: 25px;
			height: 25px;
			background-size: cover;
			background-position: center;
			margin-bottom: 3px;
			margin: auto 0;

			&.home_icon {
				background-image: url("/images/homeIcon.svg");
				width: 25px;
				height: 25px;
			}

			&.home_icon_active {
				background-image: url("/images/homeIconFilled.svg");
			}

			&.profile_icon {
				background-image: url("/images/profileIcon.svg");
			}

			&.profile_icon_active {
				background-image: url("/images/profileIconFilled.svg");
			}

			&.settings_icon {
				background-image: url("/images/settingsIcon.png");
			}

			&.settings_icon_active {
				background-image: url("/images/settingsIconFilled.png");
			}

			&.login_icon {
				background-image: url("/images/loginIcon.svg");
			}

			&.logout_icon {
				background-image: url("/images/logoutIcon.svg");
			}
		}
	}
}
