@use "./mixins" as *;
@use "./variables" as *;

.main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1100px;
	margin: 40px auto;
	height: 100%;
	padding: 0 90px;

	@include respond-to(tablet) {
		padding: 0 45px;
	}

	@include respond-to(500px) {
		padding: 0 20px;
	}

	@include respond-to(tablet) {
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__info-column {
		width: 350px;
		display: flex;
		flex-direction: column;
		gap: 25px;

		@include respond-to(1200px) {
			width: 30%;
		}

		@include respond-to(tablet) {
			width: 65%;
		}

		@include respond-to(mobile) {
			width: 100%;
		}
	}

	&__profile {
		@include block_style;
		display: flex;
		flex-direction: column;
		gap: 12px;

		@include respond-to(950px) {
			padding: 10px;
		}

		@include respond-to(tablet) {
			padding: 15px;
		}

		@include respond-to(mobile) {
			padding: 10px;
		}

		&-face {
			display: flex;
			flex-direction: row;
		}

		&-avatar {
			display: flex;
			min-width: 70px;
			height: 70px;
			border-radius: 50%;
			background-size: cover;
			background-position: center;

			@include respond-to(950px) {
				min-width: 50px;
				height: 50px;
			}

			@include respond-to(tablet) {
				min-width: 70px;
				height: 70px;
			}

			@include respond-to(tablet) {
				min-width: 50px;
				height: 50px;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin-left: 15px;
			flex: 1;
		}

		&-name {
			font-size: 16px;

			@include respond-to(tablet) {
				font-size: 13px;
			}
		}

		&-tag {
			font-size: 15px;
			color: rgba(0, 0, 0, 0.6);

			@include respond-to(tablet) {
				font-size: 12px;
			}
		}

		&-stats {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-item {
				text-align: center;
			}

			&-value {
				font-size: 13px;
				font-weight: bold;
			}

			&-name {
				font-size: 12px;
			}
		}
	}

	&__destinations {
		display: flex;
		flex-direction: column;
		gap: 22px;

		&-title {
			font-size: 16px;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&-item {
			display: flex;
			flex-direction: row;
			gap: 5px;

			&-image {
				width: 16px;
				height: 16px;
				background-image: url("/images/placeIcon.png");
				background-size: cover;
				background-position: center;
			}

			&-name {
				font-size: 14px;
			}
		}
	}

	&__tags {
		display: flex;
		flex-direction: column;
		gap: 22px;

		&-title {
			font-size: 16px;
		}

		&-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;
		}

		&-item {
			height: calc(30px - 2 * 8px);
			background-color: #e5e7eb;
			color: #374151;
			padding: 8px;
			font-size: 14px;
			border-radius: 12px;
		}
	}

	&__posts-column {
		width: 700px;
		display: flex;
		flex-direction: column;
		gap: 40px;

		&_no-auth {
			margin: 0 auto;
		}

		@include respond-to(1200px) {
			width: 65%;
		}

		@include respond-to(tablet) {
			width: 450px;
		}

		@include respond-to(500px) {
			width: 100%;
		}
	}

	&__posts {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	// &__post_add_button {
	// 	border: none;
	// 	font-size: 18px;
	// 	font-weight: bold;
	// 	color: #374151;
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: center;
	// 	gap: 10px;
	// 	padding: 15px 20px;
	// 	border-radius: 30px;
	// }

	// &__post_add_button_icon {
	// 	width: 25px;
	// 	height: 25px;
	// 	background-image: url("/images/AddIcon&__svg");
	// 	background-size: cover;
	// 	background-position: center;
	// }
}
