@import "./mixins";

.main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1110px;
	margin: 40px auto;
	height: 100%;

	&__info-column {
		width: 300px;
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	&__profile {
		@include block_style;
		display: flex;
		flex-direction: column;
		gap: 12px;

		&-face {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		&-avatar {
			display: flex;
			min-width: 60px;
			height: 60px;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			margin-right: 20px;
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&-name {
			font-size: 16px;
		}

		&-tag {
			font-size: 13px;
			color: rgba(0, 0, 0, 0.6);
		}

		&-stats {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-item {
				text-align: center;
			}

			&-value {
				font-size: 13px;
				font-weight: bold;
			}

			&-name {
				font-size: 12px;
			}
		}
	}

	&__destinations {
		display: flex;
		flex-direction: column;
		gap: 22px;

		&-title {
			font-size: 16px;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&-item {
			display: flex;
			flex-direction: row;
			gap: 5px;

			&-image {
				width: 16px;
				height: 16px;
				background-image: url("/images/placeIcon.png");
				background-size: cover;
				background-position: center;
			}

			&-name {
				font-size: 14px;
			}
		}
	}

	&__tags {
		display: flex;
		flex-direction: column;
		gap: 22px;

		&-title {
			font-size: 16px;
		}

		&-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;
		}

		&-item {
			height: calc(30px - 2 * 8px);
			background-color: #e5e7eb;
			color: #374151;
			padding: 8px;
			font-size: 14px;
			border-radius: 12px;
		}
	}

	&__posts-column {
		width: 780px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__posts {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	// &__post_add_button {
	// 	border: none;
	// 	font-size: 18px;
	// 	font-weight: bold;
	// 	color: #374151;
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: center;
	// 	gap: 10px;
	// 	padding: 15px 20px;
	// 	border-radius: 30px;
	// }

	// &__post_add_button_icon {
	// 	width: 25px;
	// 	height: 25px;
	// 	background-image: url("/images/AddIcon&__svg");
	// 	background-size: cover;
	// 	background-position: center;
	// }
}
