@use "./mixins" as *;
@use "PostProfile.module.scss" as *;

.post {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	&__image {
		width: 100%;
		height: 350px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 12px;
		background-color: #cfd0d259;

		@include respond-to(1200px) {
			height: 250px;
		}

		@include respond-to(mobile) {
			height: 200px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		padding: 20px;
		min-height: calc(120px - 2 * 20px);
		gap: 10px;

		@include respond-to(mobile) {
			padding: 10px;
			min-height: calc(70px - 2 * 10px);
			gap: 5px;
		}
	}

	&__description {
		font-size: 18px;
		font-weight: bold;
		min-height: 20px;
		max-height: 60px;
		overflow: auto;
		@include overflow_style;

		@include respond-to(mobile) {
			font-size: 14px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__location {
		width: 90%;
		@include overflow_style;

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}

		&-icon {
			min-width: 18px;
			min-height: 18px;
			background-image: url("/images/locationIcon.svg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&-value {
			@include overflow_style;
			color: #335eb3;
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__avatar {
		width: 40px;
		height: 40px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		border: 1px solid #cdd0d3;
		margin-right: 10px;
	}

	&__about {
		display: flex;
		flex-direction: column;
		gap: 5px;
		flex: 1;

		&_author {
			font-size: 18px;
			color: #182a3d;

			@include respond-to(mobile) {
				font-size: 13px;
			}
		}

		&_date {
			font-size: 14px;
			color: #4f7396;

			@include respond-to(mobile) {
				font-size: 12px;
			}
		}
	}

	&__like {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3px;

		&_button {
			@include link-style;
			background-image: url("../../public/images/HeartIcon.svg");
			background-size: cover;
			background-position: center;
			width: 20px;
			height: 20px;
			border: none;
			background-color: transparent;

			@include respond-to(mobile) {
				width: 15px;
				height: 15px;
			}

			&_active {
				background-image: url("../../public/images/HeartFilledIcon.svg");
			}
		}

		&_value {
			font-size: 14px;
			color: #4b5563;

			@include respond-to(mobile) {
				font-size: 11px;
			}
		}

		&_loader {
			width: 20px;
			height: 20px;
			border: 3px solid rgba(0, 0, 0, 0.3);
			border-bottom-color: transparent;
			border-radius: 50%;
			display: inline-block;
			box-sizing: border-box;
			animation: rotation 1s linear infinite;

			@keyframes rotation {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
}

//
//
//
