.profile__post {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-width: 0;
	// max-width: 1fr;
	height: auto;

	@include respond-to(500px) {
		max-width: 290px;
		margin: 0 auto;
	}

	&-image {
		background-image: url("https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80");
		background-size: cover;
		background-position: center;
		height: 200px;
		border-radius: 10px 10px 0 0;

		@include respond-to(950px) {
			height: 170px;
		}

		@include respond-to(tablet) {
			height: 200px;
		}

		@include respond-to(tablet) {
			height: 150px;
		}
	}

	&-container {
		flex: 1;
		padding: 18px 15px 15px;

		@include respond-to(500px) {
			padding: 12px 10px 10px;
		}
	}

	&-title {
		margin-bottom: 8px;
		font-size: 15px;
	}

	&-description {
		max-height: 44px;
		overflow: auto;
		scrollbar-width: 1px;
		line-height: 20px;
		font-size: 16px;
		overflow: hidden;
		@include overflow_style;

		@include respond-to(500px) {
			font-size: 13px;
		}
	}

	&-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 15px;

		@include respond-to(500px) {
			margin-top: 8px;
		}
	}

	&-date {
		color: #6b7280;
		font-size: 13px;
		line-height: 20px;

		@include respond-to(500px) {
			font-size: 11px;
		}
	}

	&-like {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3px;

		&-loader {
			width: 20px;
			height: 20px;
			border: 3px solid rgba(0, 0, 0, 0.3);
			border-bottom-color: transparent;
			border-radius: 50%;
			display: inline-block;
			box-sizing: border-box;
			animation: rotation 1s linear infinite;

			@keyframes rotation {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}

		&-button {
			@include link-style;
			width: 20px;
			height: 20px;
			background-image: url("/images/HeartIcon.svg");
			background-size: cover;
			background-position: center;
			border: none;
			background-color: transparent;

			&_active {
				background-image: url("/images/HeartFilledIcon.svg");
			}
		}

		&-value {
			font-size: 13px;
			color: #4b5563;
		}
	}

	&-icons {
		display: flex;
		flex-direction: column;
		gap: 5px;
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 0;
	}

	&:hover &-icons {
		opacity: 1;
	}

	&-menu-icon {
		width: 30px;
		height: 30px;
		border: 1px solid #e2e8f0;
		background-color: #fff;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		@include link-style;
	}

	&-kebab {
		background-image: url("/images/kebabMenuIcon.svg");
		rotate: 90deg;
		opacity: 0;

		&_active {
			rotate: 180deg;
		}
	}

	&:hover &-kebab {
		opacity: 1;
	}

	&-etc {
		display: flex;
		flex-direction: column;
		gap: 5px;
		opacity: 0;
		height: auto;

		&_active {
			opacity: 1;
		}
	}

	&-edit {
		background-image: url("/images/editIcon.svg");
		background-size: 20px 20px;
	}

	&-delete {
		background-image: url("/images/trashIcon.svg");
		background-size: 20px 20px;
	}
}
