@use "./mixins" as *;
@use "./variables" as *;

.profile {
	// width: 100%;
	max-width: 1110px;
	height: auto;
	margin: 0 auto;
	padding: 40px 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include respond-to(desktop) {
		padding: 40px 45px;
	}

	@include respond-to(500px) {
		padding: 40px 20px;
	}

	&__block {
		@include block_style;
	}

	&__above {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 25px;
		position: relative;
	}

	&__face {
		display: flex;
		flex-direction: row;
		width: 80%;

		@include respond-to(600px) {
			width: 100%;
			flex-direction: column;
			margin: 0 auto;
			align-items: center;
			text-align: center;
		}
	}

	&__avatar {
		min-width: 120px;
		height: 120px;
		border-radius: 50%;
		background-image: url("https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80");
		background-size: cover;
		background-position: center;

		@include respond-to(600px) {
			max-width: 120px;
		}
	}

	&__edit {
		width: 30px;
		height: 30px;
		background-image: url("/images/editIcon.svg");
		background-size: cover;
		background-position: center;
		border: none;
		background-color: transparent;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		max-width: 800px;
		padding: 20px 0;
		justify-content: space-between;
		margin-left: 20px;
		@include overflow_style;

		@include respond-to(600px) {
			margin-left: 0;
			@include overflow_style_disable;
		}
	}

	&__name {
		font-size: 30px;
		@include overflow_style;

		@include respond-to(600px) {
			font-size: 20px;
			word-break: break-word;
			@include overflow_style_disable;
		}
	}

	&__tag {
		color: rgb(102, 119, 165);
	}

	&__summary {
		opacity: 0.7;
	}

	&__stats {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px 0;

		&-item {
			display: flex;
			flex-direction: row;
		}

		&-value {
			width: 50px;
			margin-right: 7px;
			text-align: right;
			font-weight: bold;
		}

		&-name {
			width: 70px;
			text-align: left;
		}
	}

	&__bio {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 25px;
		margin-bottom: 33px;
	}

	&__about {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-title {
			font-size: 22px;
		}

		&-text {
			color: #4b5563;
			font-size: 17px;
			line-height: 25px;
		}

		&-skills {
			display: flex;
			flex-direction: row;
			gap: 10px;
		}

		&-skill {
			background-color: #e5e7eb;
			color: #374456;
			font-size: 15px;
			padding: 8px 15px;
			border-radius: 20px;
		}
	}

	&__travel-stats {
		grid-column: 3;
		display: flex;
		flex-direction: column;
		gap: 22px;

		&-title {
			font-size: 22px;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&-item {
			display: flex;
			flex-direction: row;
		}

		&-logo {
			min-width: 20px;
			height: 20px;
			background-image: url("https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80");
			background-size: cover;
			background-position: center;
			border-radius: 50%;
			outline: 1px solid #000;
			margin-right: 5px;
		}

		&-name {
			text-align: left;
			width: calc(100% - 30% - 10px);
			line-height: 20px;
		}

		&-value {
			font-weight: bold;
			text-align: right;
			width: calc(100% - 70% - 10px);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 25px;

		&-title {
			font-size: 22px;

			@include respond-to(tablet) {
				font-size: 18px;
			}
		}

		&-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 20px;
			row-gap: 40px;

			@include respond-to(tablet) {
				row-gap: 20px;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 15px;
			}

			@include respond-to(500px) {
				grid-template-columns: repeat(1, 1fr);
				column-gap: 10px;
			}
		}

		&-add-button {
			@include link-style;
			border: none;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 5px;
			height: 100%;

			// @include respond-to(950px) {
			// 	height: 250px;
			// }

			&-logo {
				background-image: url("/images/AddIcon.svg");
				background-size: cover;
				background-position: center;
				width: 25px;
				height: 25px;
				color: #374456;
			}

			&-text {
				color: #374456;
				font-size: 17px;
				line-height: 25px;
			}
		}
	}
}
